<% if @services.present? %>
  <div class="cp_ipradio">
      <ul>
      <% @services.each do |service| %>
          <li class="list_item">
          <label>
          <div class="row">
          <div class="col-2">
          <input type="radio" class="option-input" name="radio_group" value=<%= service.id %> >
          </div>
            <div class="col-5">
              <p><%= service.name %></p>
            </div>
            <div class="col-5">
              <p>￥<%= service.money %></p>
            </div>
          </div>
          </label>
          </li>
      <%end%>
      </ul>
  </div>
<% else%>
      <ul>
          <p>該当が存在しません。</p>
      </ul>
<% end %>
