<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3><%= @user.name %>さん</h1>
    <p>いつもご利用ありがとうございます。</p>
      <p>
      M3から登録しているサービスの解約通知についてのお知らせです。
    </p>
    <h3><%= @service %></h3><span>の解約予定日になりました。</span>
    <p>ご確認をお願いします。</p>
  </body>
</html>