<div class="jumbotron jumbotron-fluid">
  <div class="container top_font">

    <div class='text-center mt-5'>
      <h5>無駄な課金をなくす</h5>
      <h5>サブスクリプション管理お知らせサービス</h5>


    <h1 class="display-4 text-center text-nowrap mt-3">Monthly Money Manager</h1>

    <%= link_to "始める", new_user_path ,class:'btn-gradient-radius' %>

    </div>
  </div><!-- /.container -->
</div><!-- /.jumbotron -->
<div class="container">

</div><!-- /.container -->


