<div class="jumbotron jumbotron-fluid mb-0">
  <div class="container top_font">
    <div class='text-center mt-5'>
      <h5>無駄な課金をなくす</h5>
      <h5>サブスクリプション管理</h5>
      <h5>お知らせサービス</h5>
      <h1 class="display-4 text-center text-nowrap mt-3">Monthly Money Manager</h1>
      <%= link_to "始める", new_user_path ,class:'btn-gradient-radius btn_position' %>
    </div>
  </div><!-- /.container -->
</div><!-- /.jumbotron -->
<div class='text-center'>
	<h1 class='pt-4'>WHY?</h1>
  <p>M3(Monthly Money Manager)を使う理由</p>
  <div class="container">
    <div class='row'>
      <div class='col-md-5 col-12 box'>
        <p>貯金が貯まらない</p>
      </div>
      <div class='col-md-2'></div>
      <div class='col-md-5 col-12 box'>
        <p>無料期間を過ぎて課金されてしまう</p>
      </div>
        <div class='col-md-5 col-12 box'>
          <p>加入しているサブスクを忘れてしまう</p>
        </div>
        <div class='col-md-2'></div>
        <div class='col-md-5 col-12 box'>
          <p></p>
        </div>
      </div>
  </div>
  <h1 class='pt-4'>HOW?</h1>
  <p>機能について</p>
    <div class="container">
    <div class='row'>
      <div class='col-md-5 col-12 card-box'>
        <div class="box-title">管理機能</div>
        <p>加入しているサブスクの<br>「名前」「金額」「加入日」「解約予定日」<br>が登録できます。</p>
      </div>
      <div class='col-md-2'></div>
       <div class='col-md-5 col-12 card-box'>
        <div class="box-title">合計金額通知</div>
        <p>毎月２５日に<br>登録しているサブスクの<br>合計金額をお知らせします。</p>
      </div>
      <div class='col-md-5 col-12 card-box'>
        <div class="box-title">解約予定日通知</div>
        <p>解約予定日の前日に<br>お知らせします。</p>
      </div>
      <div class='col-md-2'></div>
      <div class='col-md-5 col-12 card-box'>
        <div class="box-title">サブスクリプションレビュー</div>
        <p>サブスクリプションについて<br>レビューコメントができる機能があります。</p>
      </div>
    </div>
  </div>
  <h1 class='pt-4'>WAHT?</h1>
  <p>今すぐ始める</p>
　<%= link_to "始める", new_user_path ,class:'btn-gradient-radius' %>
