<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %>さん</h1>
      <p>
      M3から今月の課金額についてお知らせです。
    </p>
    <p>
      今月は
    </p>
    <h3></h3>
    <p></p>
  </body>
</html>