<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %>様</h1>
    <p>いつもご利用ありがとうございます。</p>
    <p>初期パスワードのお知らせになります。</p>
    <p><%= @password %></p>
    <br>
    <p>※ログイン後にパスワードを変更してください。</p>
  </body>
</html>