// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  height: 100%;
  margin: 0;
}
.wrapper {
  min-height: 100%;
  /* フッタの高さと等しいネガティブマージン */
  /* また最後の子要素の潜在的なマージンとしても機能 */
  margin-bottom: -50px;
  background-color: #F9F9F7;
}
.footer,
.push {
  height: 50px;
  padding-top: 10px;
  color: white;
}

.title-back,
.footer-back{
 background-color: #5a5a5a;
}

.wrapper .container .title{
  color: #F5B428;
}

.center-form {
  background-color: #fff;
  border: solid 1px #e4e4e4;
  border-radius: .375rem;
  max-width: 32rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
}